* {
	padding: 0;
	margin: 0;
}
h1 {
	margin: 5vh 0;
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
label {
	text-align: center;
}
form {
	display: flex;
}
#result {
	margin-top: 10vh;
	display: flex;
	flex-wrap: wrap;
	width: 50vw;
	height: 50vh;
}
.users {
	background-color: bisque;
	border-radius: 5px;
	border: 1px rgb(190, 143, 86) solid;
	margin-top: 5px;
	margin-right: 2px;
	text-align: center;
}
