* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-image: url("assets/img/wood.jpg");
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 0 5%;
	border-radius: 0 15px 15px 15px;
	background-color: white;
	margin: 10%;
	box-shadow: 20px 20px 25px;
	padding: 30px;
}
#washington-img {
	width: 25%;
}
section {
	display: flex;
	justify-content: center;
	align-items: center;
}
#about-me-description > * {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#hobby {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 1%;
}
#wearable {
	width: 40%;
}
#hobbies-images {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: rgba(165, 164, 164, 0.589);
	padding: 20px;
	border-radius: 20px;
}
.hobby {
	width: 45%;
	border-radius: 0 40px 40px 40px;
	margin-bottom: 10px;
}
.hobby:hover {
	opacity: 0.55;
}
img {
	border-radius: 20px;
}
